body{
    /*background-color: rgb(205, 162, 211);*/
    background-image:url("https://pbs.twimg.com/media/FrGjBAGagAI5C6w?format=jpg&name=4096x4096");   
}


#total_label{
    display:inline;
    text-align: center;
    background-color: rgb(246, 166, 120);
    color:rgb(51, 38, 30);
    font-size:175%;
    font-family:'Baskerville';
}


#diceNum{
    display:block;
    color:rgb(232, 209, 187);
    font-size:130%;
    font-family:'Baskerville';
}

#d2label{
    display:block;
    color:rgb(232, 209, 187);
    font-size:130%;
    font-family:'Baskerville';
}

#d4label{
    display:block;
    color:rgb(232, 209, 187);
    font-size:130%;
    font-family:'Baskerville';
}

#d6label{
    display:block;
    color:rgb(232, 209, 187);
    font-size:130%;
    font-family:'Baskerville';
}

#d8label{
    display:block;
    color:rgb(232, 209, 187);
    font-size:130%;
    font-family:'Baskerville';
}

#d10label{
    display:block;
    color:rgb(232, 209, 187);
    font-size:130%;
    font-family:'Baskerville';
}

#d12label{
    display:block;
    color:rgb(232, 209, 187);
    font-size:130%;
    font-family:'Baskerville';
}

#d20label{
    display:block;
    color:rgb(232, 209, 187);
    font-size:130%;
    font-family:'Baskerville';
}

#d100label{
    display:block;
    color:rgb(232, 209, 187);
    font-size:130%;
    font-family:'Baskerville';
}


h1{
    color:rgb(240, 144, 109);
    font-size:300%;
    font-family:'Lucida Handwriting';
}


button{
    
    text-align: center;
    background-color: rgb(228, 206, 150);
    font-family:'Baskerville';
    font-size:100%;
    padding: 10px;
    
}

.button_total{
    
    text-align: center;
    background-color: rgb(238, 185, 99);
    font-family:'Baskerville';
    font-size:120%;
    padding: 20px;
    
}
.bt_dunder{
    background-color: rgb(246, 182, 118);
    padding: 10px;
}
